@font-face{
    font-family:NewFont;
    src: url('Lato-Light.ttf');
}

*{
  box-sizing: border-box;

}
html{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: NewFont;
  background-color:#330066;
}
h1{
  text-align: center;
  font-size: 48pt;
  font-family: NewFont;
  margin-top: 75px;
  color: #fff;
  text-shadow: -1px 1px 0px #000;
}
.container{
  font-family: Arial;
  flex-flow: row wrap;
  justify-content: space-around;
  display: inline-block;
  width: 100%;
  padding-left: 2vw;
  padding-top: 4vh;
  border:3px red solid;

}
.box{
  width: 20vw;
  height: 30vh;
  background-size: cover;
  overflow: hidden;
  margin:0.4vw;
  border: 1px solid #000;
  display: inline-block;

}
.cover{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,1);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
  visibility: hidden;
}
.cover .title{
  font-size: 16pt;
  font-style: italic;
}
.box .cover .intro{
  line-height: 1.2em;
  height: 4.8em;
  width: 100%;
  position: relative;
  font-size: 10pt;
  overflow: hidden;
}
.cover .btn{
  padding: 0.5em 1em;
  margin: 0.5em;
  background: #0099cc;
  float: right;
  border-radius: 0.25em;
}
.btn a{
  color: #fff;
  text-decoration: none;
}
.cover .date{
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 10pt;
}
.box:hover .left{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   left: 0px;
   visibility: visible;
}
.box:hover .right{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   right: 0px;
   visibility: visible;
}
.box:hover .top{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   top: 0px;
   visibility: visible;
}
.box:hover .bottom{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    bottom: 0px;
    visibility: visible;
}
.box:hover .top-left{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    top: 0px;
    left: 0px;
    visibility: visible;
}
.box:hover .top-right{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    top: 0px;
    right: 0px;
    visibility: visible;
}
.box:hover .bottom-left{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    bottom: 0px;
    left: 0px;
    visibility: visible;
}
.box:hover .bottom-right{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
    bottom: 0px;
    right: 0px;
    visibility: visible;

}
.left{
  left: -250px;
}
.right{
  right: -250px;
}
.top{
  top: -200px;
}
.bottom{
  bottom: -200px;
}
.top-left{
  top: -200px;
  left: -250px;
}
.top-right{
  top: -200px;
  right: -250px;
}
.bottom-left{
  bottom: -200px;
  left: -250px;
}
.bottom-right{
  bottom: -200px;
  right: -250px;
}
/* Ordering */
  .left{order:1;}
  .right{order:2;}
  .top{order:3;}
  .bottom{order:4;}
  .top-left{order:5;}
  .top-right{order:6;}
  .bottom-left{order:7;}
  .bottom-right{order:8;}


