@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: always !important;
}

.Headcontainer{
    position:fixed;
    top:0;
  height: 6vh;
   background: #202734;
  
}

.Headcontainer .left_el{
  display: inline-block;
  width: 12vw;
  text-align: center;
}

    .left_el{
      height: 90%;
      padding-top: 12px;
      font-size: 1em;
      transition: all 0.5s;
      float: left;
      color:#fff;
      vertical-align: center;
      margin-right: -1px;
      border-width: 1px;
      border-color: #333;
      border-right-style: solid;
      cursor: pointer;
    }
    .left_el:hover{
        box-shadow: 0px 2px 5px #fff;
}

.ui.btn {
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
}
.ui.btn.normal {
  padding: 4% 6%;
  background: #7dcfc6;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  color: #f2f2f2;
  font-size: 12.5px;
}
.ui.btn.normal:hover, .ui.btn.normal:focus {
  outline: none;
  background: #006e63;
}

.header {
  width: 20%;
  float: right;
  display: inline-block;
  height: 100%;
  background: #202734;
  border-bottom: 1px solid #8e9299;
  line-height: 50px !important;
}
.header .inner {
  width: 60%;
  margin-top: 3px;
  position: relative;
}
.header .user-ui {
  position: absolute;
  right: 0;
  display: inline-block;
}
.header .user-ui .user-menu-toggle {
  display: inline-block;
  padding-top: 5px;
  cursor: pointer;
}
.header .user-ui .user-menu-toggle .profile-img {
  width: 35px;
  height: 35px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
}
.header .user-ui .user-menu-toggle .simple-arrow {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  font-size: 12px;
  color: #f2f2f2;
}
.header .user-ui .sign-out-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #f2f2f2;
  margin-left: 20px;
}
.header .user-ui .sign-out-icon:hover {
  color: #7dcfc6;
}
.header .user-ui .user-menu {
  width: 300px;
  background: #f9f9f9;
  position: absolute;
  right: 40%;
  border: 1px solid #f2f2f2;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.header .user-ui .user-menu::after {
  display: block;
  right: 0;
  content: " ";
  height: 0;
  top: -10px;
  width: 0;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f9f9f9;
}
.header .user-ui .user-menu::before {
  display: block;
  right: -1px;
  content: " ";
  height: 0;
  top: -11px;
  width: 0;
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #f2f2f2;
}
.header .user-ui .user-menu .user-info {
  border-bottom: 1px solid #f2f2f2;
  padding: 0px 10px;
  position: relative;
}
.header .user-ui .user-menu .user-info .profile-img {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
}
.header .user-ui .user-menu .user-info h3 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #8e9299;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  padding-left: 20px;
}
.header .user-ui .user-menu .user-info .btn {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header .user-ui .user-menu .invites-info {
  border: 1px solid #f2f2f2;
  padding: 10px;
  height: 110px;
  display: block;
}
.header .user-ui .user-menu .invites-info .next-invite-bar {
  height: 20px;
  background: #ddd;
  border: 1px solid #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}
.header .user-ui .user-menu .invites-info .next-invite-bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  -moz-border-radius: 20px 0px 0px 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px 0px 0px 20px;
  background: #7dcfc6;
  height: 100%;
}
.header .user-ui .user-menu .invites-info span {
  margin: 0;
  padding: 5px 0;
  color: #ddd;
  font-size: 12.5px;
  line-height: normal !important;
  display: block;
}
.header .user-ui .user-menu .invites-info p {
  font-size: 14px;
  line-height: normal;
  color: #8e9299;
  float: left;
  margin: 18px 0;
}
.header .user-ui .user-menu .invites-info .btn {
  float: right;
  font-size: 12px;
  margin: 5px 0;
}
.header .user-ui .user-menu .menu-nav {
  list-style-type: none;
}
.header .user-ui .user-menu .menu-nav li {
  padding: 15px 10px;
  line-height: normal;
  color: #8e9299;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
.header .user-ui .user-menu .menu-nav li span {
  width: 20px;
  margin-right: 10px;
  text-align: center;
}
.header .user-ui .user-menu .menu-nav li:hover {
  background: #f2f2f2;
  color: #7dcfc6;
}



body{
  background: #fbfbfb;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color:rgba(255,255,255,0.8);
  background-color: rgba(25,25,25,0.9);
}

h1,h4{
  font-family: 'Montserrat', sans-serif;
}
.row{
  padding:50px 0;
  display: inline-block;
  padding-left: 5vw;
}
.seperator{
  margin-bottom: 30px;
  width:35px;
  height:3px;
  background:#777;
  border:none;
}

.title{
  text-align: center;
  }
  .title .row{
    padding: 50px 0 0;
  }
  
  .title h1{
    text-transform: uppercase;
  }
  
  .title .seperator{
    margin: 0 auto 10px;
  }

.item {
  position: relative;
  width: 28vw;
  min-height: 1px;
  float: left;
  color:#777;
  margin:1vw;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
  
  .item .item-in {
    background: #fff;
    padding: 40px;
    position: relative;
  }

  .item .item-in:hover {
    background: rgba(255,255,255,0.8);
  }

    
    .item .item-in:hover:before {
      width: 100%;
    }
   
    .item .item-in::before {
    content: "";
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 0%;
    background: #fff;
    right: 0px;
    -webkit-transition: width 0.4s;
    transition: width 0.4s;
    }
  
    
  .item h4{
      font-size: 18px;
      margin-top: 25px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
   .item p{
      font-size: 12px;
      height:15px;
      overflow-y:hidden;
    }

    .item a{
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
      color: #666666;
      margin-top: 10px;
        }

      .item a i {
        opacity: 0;
        padding-left: 0px;
        transition: 0.4s;
        font-size: 24px;
        display: inline-block;
        top: 5px;
        position: relative;
       }
      
      .item a i:hover {
        text-decoration:none;
      }
       .item a i:hover i {
          padding-left: 10px;
          opacity: 1;
          font-weight: 300;
          }
        
      

.link-cont {

  position: relative;
  bottom: 7px;
  text-align: center;
  font-size: 20px;
   font-family: 'Merriweather', serif;

}
.link {
  display: inline-block;
  position: relative;
  color: #020202;
  text-decoration: none;
  padding: 10px 0;
}
.link-wrapper {
  position: relative;
  display: inline-block;
  padding: 20px;
  
}
.inner-wrapper {
  position: relative;
  display: inline-block;
}
/* hover styles */

.wrapper-17:before {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #fff;
  transform: scaleY(0);
  transform-origin: bottom left;
  transition: transform 0.2s;
}
.wrapper-17:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background-color: #fff;
  transform: scaleY(0);
  transform-origin: top right;
  transition: transform 0.2s 0.2s;
}
.wrapper-17 .hover-17 {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #777;

}
.wrapper-17 .hover-17:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.2s 0.3s;
}
.wrapper-17 .hover-17:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.2s 0.1s;
}
.wrapper-17:hover:before {
  transform: scaleY(1);
  transition: transform 0.2s 0.3s;
}
.wrapper-17:hover:after {
  transform: scaleY(1);
  transition: transform 0.2s 0.1s;
}
.wrapper-17:hover .hover-17:before {
  transform: scaleX(1);
  transition: transform 0.2s;
}
.wrapper-17:hover .hover-17:after {
  transform: scaleX(1);
  transition: transform 0.2s 0.2s;
}

