body {
  background: #282931;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
  height: 100%;
}


h1 {
  line-height: 72px;
  margin: 24px 0;
  color:white;
}

h3{
   color: #fc3565;
  line-height: 24px;
  font-size:30px;
    margin: 24px 0;
}

h6{
  line-height:24px;
}

h6 span{
  color:white;
  line-height:12px;
}


p {
  line-height: 24px;
  margin: 24px 0;
  color:#bbbbc4;
}

a {
  color: #bbbbc4;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  cursor:pointer;
  border-bottom:1px groove #fc3565;
}

a:hover {
  color: #fc3565;
}

.columns{
  background:rgba(47, 48, 58, 0.38);
}

.columns:hover {
    background: #2e2f35;
}

.teaser{
  padding:10px;
}

.row{
  margin-bottom:1.5rem;
}


/* Global Button Styles */
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: inline-block;
	margin-right:3vw;
	width: 7vw;
	margin-top:3vh;
	padding: 10px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 7vw;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
	height: 450%;
}
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: inline-block;
	margin-top:3vh;
	padding: 10px 15px;
	color: #fff;
	font-size:14px;
	border-radius: 0;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}


a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	position: relative;
	border: 2px solid rgba(255,255,255,0.8);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
a.animated-button.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: rgba(255,255,255,0.6);
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}



