@font-face{
    font-family:NewFont;
    src: url(Lato-Light.ttf);
}

body {
    font-family: NewFont;
    background-image: url('http://www.tathva.org/tathva.org/tathva16/Website/SignUp/signup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0;
    color: #fff;
    overflow: hidden;
}


#Container{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;


}

#Header{
    position: absolute;
    padding-top: 1px;
    font-weight: bold;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 5vh;
    font-size:2vh;
    background: transparent;
    display: inline-block;
}


.top-el{
    background: transparent;
    margin-left: 0;
    float:left;
    padding-top: 7px;
    padding-bottom:4px;
    text-align: center;
    border-right: .1vw solid #fff;
    padding-left: 3%;
    padding-right: 3%;
    transition: all 0.7s;
    display:block;
}

.top-el:hover{
     background: transparent;
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-0.1vh);
    box-shadow: 0vh 0vh 2vh; 
    border:none;
}



.top-er{
    float: right;
    margin-right: 10px;
    background: transparent;
    margin-left: 0px;
    padding-top: 4px;
    padding-bottom:2px;
    padding-left: 3%;
    padding-right: 3%;
    border-left: .1vw dotted #fff;
    transition: all 0.7s;
}

.top-er:hover{
     background: transparent;
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-0.1vh);
    box-shadow: 0vh 0vh 2vh; 
    border:none;
}

#text-box{
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 50px;
    margin-left: 0;
    margin-right: 0;
    height: 79vh;
    background-color: rgba(25, 25, 25, 0.7);
}


.big-text{
    font-size:17vh;
    font-weight: bold;
}

#username{
    padding-left: 70px;
    font-size:8vh;
}

#footer{
    background-color: rgba(0,0,0,0.9);
    height: 5vh;
    text-align: center;
    padding-top: 2vh;
    color: #fff;
}


#Counter-box{
    position: absolute;
    left: 77%;
    top:30%;
    width: 20vw;
    display: table-column;
    background-color: rgba(25,25,25,0.8);
    padding-top: 4vh;
    border-radius: 20px;
    text-align: center;
}

#count{
    font-size: 10vh;
    font-weight: bold;
    padding: 20px; 
}

#count-button{
    margin-top: 5vh;
    margin-bottom: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

#ghost-button{
    border: 2px red solid;
    color: rgba(255,255,255,0.8);
    border: 1px solid white;
    text-align: center;
    font-size: 2.5vh;
    text-decoration: none;
    padding-top: 1.6vh;
    padding-bottom: 1.6vh;
    padding-left: 2vw;
    padding-right:2vw;
    border-radius: 7px;
}

#ghost-button:hover,
#ghost-button:active{
    background-color: #fff;
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}


.dropdown{
    position:relative;
    display:inline-block;
}


.contents {
    display: none;
    position: absolute;
    background-color: rgba(25,25,25,0.5);
    color:#fff;
    display:block;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .contents {
    display: block;
}
