@font-face{
    font-family:NewFont;
    src: url(ur/Lato-Light.ttf);
}

body {
    font-family: NewFont;
    background-image: url('http://wallpapercave.com/wp/Wk00V0P.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0;
    color: #fff;
    overflow: hidden;
}


#Container{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;


}

#Header{
    position: absolute;
    padding-top: 10px;
    font-weight: bold;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 5vh;
    font-size:2vh;
    background: transparent;
     display: inline-block;
}


.top-el{
    background: transparent;
    margin-left: 0;
    padding: 10px;
    text-align: center;
    border-right: .1vw solid #fff;
    padding-left: 3%;
    padding-right: 3%;
    transition: all 0.7s;
}

.top-el:hover{
     background: transparent;
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-0.1vh);
    box-shadow: 0vh 0vh 2vh; 
    border:none;
}



.top-er{
    float: right;
    margin-right: 10px;
    background: transparent;
    margin-left: 0px;
    padding: 10px;
    padding-left: 3%;
    padding-right: 3%;
    border-left: .1vw dotted #fff;
    transition: all 0.7s;
}

.top-er:hover{
     background: transparent;
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-0.1vh);
    box-shadow: 0vh 0vh 2vh; 
    border:none;
}

#text-box{
    padding-top: 150px;
    padding-left: 60px;
    padding-right: 50px;
    margin-left: 0;
    margin-right: 0;
    height: 79vh;
    background-color: rgba(25, 25, 25, 0.7);
}


.big-text{
    font-size:20vh;
    font-weight: bold;
}

#username{
    padding-left: 70px;
    font-size:10vh;
}

#footer{
    background-color: rgba(0,0,0,0.9);
    height: 5vh;
    text-align: center;
    padding-top: 2vh;
    color: #fff;
}


.ghost-button{
    display: inline-block;
    padding:20px;
    margin: 20px;
    color: rgba(255,255,255,0.8);
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 12px;
}

.ghost-button:hover,
.ghost-button:active{
    background-color: #fff;
    color: #000;
    transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}

