body {
    font-family: Tahoma;
    background-color: #1E73BE;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.Container{
    display: inline-block;
    text-align: center;
}

.ghost-button{
    display: inline-block;
    padding: 12px;
    color: rgba(255,255,255,0.8);
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 12px;
}

.ghost-button:hover,
.ghost-button:active{
    background-color: #fff;
    color: #000;
    transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
}