@font-face{
    font-family:NewFont;
    src: url(/ui/Lato-Light.ttf);
}

body {
    background-image: url("http://www.tathva.org/tathva.org/tathva16/Website/Main/images/s0.jpg");
    background-size:cover;
    background-repeat:no-repeat;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.Container{
    display: inline-block;
    position: absolute;
    left:36%;
    top: 50%;
    text-align: center;
}

.ghost-button{
    display: inline-block;
    padding:20px;
    margin: 20px;
    color: rgba(255,255,255,0.8);
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    border-radius: 12px;
}

.ghost-button:hover,
.ghost-button:active{
    background-color: #fff;
    color: #000;
    transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
}
}